* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-panel-color: #ffffff;
    --dark-text: #1a1a1a;
    --gray-text: #555555;
    --primary-green: #3a5a40;
      --border-color: #e0e0e0
}

body {
    font-family: "system-ui", sans-serif;
    background-color: var(--bg-panel-color);
    color: var(--dark-text);
}
a {
    text-decoration: none;
    color: var(--dark-text);
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: var(--bg-panel-color);
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--border-color);
}
/* logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-green);
}
.logo i {
    font-size: 1.5rem;
}
.logo_name {
    font-size: 0.85rem;
    font-weight: 700;
    color: var(--dark-text);
}

.logo span {
    display: block;
    margin-top: 4px;
    font-size: 0.8rem;
    color: var(--gray-text);

}
/* Navigation */
.navbar {
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar a {
    font-size: 0.85rem;
    margin-left: 30px;
    font-weight: 500;
    color: var(--gray-text);
}
/* hero section */
.content {
    height: auto;
    width: 10%;
    background-color: var(primary-green);
}





