:root{
    --primary-key-color: #3a5a40;
    --secondary-key-color: #f0f4f0;
    --primary-main-white: #ffffff;
    --primary-main-black: #000000;
    --grey-text: #555555;
    --border-color: #e0e0e0;
}   

* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: auto;
    width: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    padding: 16px 20%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i{
    color: var(--primary-key-color);
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo h1{
    font-size: 24px;
    margin: 0;
}

.logo-link {
    text-decoration: none;
    color: var(--primary-main-black);
}

.logo-link h1 {
    color: var(--primary-main-black);
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
}


.logo-subtitle{
    color: #5c5c5c;
    font-size: 0.85rem;
}

.nav-links {
    display: flex;
    margin-left: 20%;
    gap: 20px;
    flex-direction: row;
}

.nav-links a {
    text-decoration: none;
    color: #838383;
    font-size: 18px;
    transition: color 0.3s ease;
}

/* after nav bar content */
.hero {
    min-height: 50vh;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 20%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-key-color);

    gap: 100px;
}

.hero-content-text {
    flex: 1;
}

.hero-content-text label {
   font-size: 1rem;
   color: var(--primary-key-color);
}

.hero-content-text h1 {
    font-size: 56px;
    line-height: 1.15;
    max-width: 600px;
}

.hero-content-image{
    padding: 40px;
}

.hero-content-image img {
    flex: 1;
    max-width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
}
